<nav class="sidebar color" style="height: 100vh; width: 250px;">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active text-light" routerLink="/dashboard">
          <i class="fas fa-tachometer-alt mr-2"></i> Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/userpage">
          <i class="fas fa-user mr-2"></i> Lead Management
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/accesspage">
          <i class="fas fa-cog mr-2"></i> Lead Integration
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/userauth">
          <i class="fas fa-cog mr-2"></i>User Authentication
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/calltrack">
          <i class="fas fa-cog mr-2"></i> Caller Time Tracking
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/reporting">
          <i class="fas fa-cog mr-2"></i> Reporting
        </a>
      </li>
      <!-- Add more sidebar links as needed -->
    </ul>
  </div>
</nav>
